.jumbotron {
  background-color: #000659;
  color: blanchedalmond;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #000659;
  margin-top: 10px;
  margin-bottom: 0px;
  color: blanchedalmond; }

.card-sazon {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-Pedir {
  width: 100%;
  border-radius: 0px; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
