@yellow: #ffe100;
@red: #ffe100;;
@green: #299605;
@blue: #000659;
.margenes (@top:0px, @bottom:0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @blue;
  color: blanchedalmond;
  .margenes(50px, 0px);
}
footer {
  padding: 10px 10px 0 10px;
  background-color: @blue;
  .margenes(10px, 0px);
  color: blanchedalmond; }

.card-sazon {
  flex: 1 200px;
  .margenes(10px, 0px);
}
.btn-Pedir {
  width: 100%;
  border-radius: 0px; 
}

.footer-addres-icon {
  padding-right: 10px; 
}

.tab-content {
  padding-top: 10px; 
}