$yellow: #ffe100;
$red: #c2180c;
$green: #299605;
$blue: #000659;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    background-color: $blue;
    color:blanchedalmond;
    @include margenes(50px, 0px)
}
footer {
    padding: 10px 10px 0 10px;
    background-color:$blue;
    @include margenes(10px, 0px);
    color: blanchedalmond;
}
.card-sazon{
    flex: 1 200px;
    @include margenes(10px, 0px)
}
.btn-Pedir{
    width: 100%;
    border-radius: 0px;
}
.footer-addres-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}
